# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.ipynb*
build/
dist/
pyinseq.egg-info/

# Input data files for experiment
private/

# Contents in results directory
results/*

# Test and coverage
.cache
.coverage
