# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Input data files for experiment
input*

# Genome reference files
*.gb
*.gbk
*.ftt

# Data output directories
old/
Exp*/
E1*/
examp*/

# Sandbox
gists.py
